// Exemple - change the headings font-family
$headings-font-family: "Lato", serif;

$primary:       hsl(216, 92%, 58%);
$secondary:     #C7BEBE;
$success:       #68D9A4;
$danger:        #ED6454;
$light:         #E7E7E7;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
);

$font-size-base: 1.125rem;
$font-size-lg: 1.125rem;
$h2-font-size:$font-size-base;
$headings-margin-bottom: 1rem;
$headings-font-weight: 400;

.robotoFont{
  font-family: "Roboto", sans-serif;
}

.cardFontSize{
  font-size: 12px;
}

// Placeholder text of global searchBar
#global_searchInput::placeholder{
  color:rgb(0,0,0,0.25);
}

// Search bars
$input-placeholder-color: rgb(255,255,255,0.5);
$input-focus-box-shadow: 0;
$input-border-width: 0;
$input-font-weight: 700;

// Tags drop lists
$line-height-lg:2.5;

.heightControl{
  height:67px;
}

.tagList_tag{
  cursor:pointer;
  color:white;

  &:hover{
    text-decoration: none;
    font-weight: bold;
    color:white;
  }
}

.galleryPositioning{
  position:absolute;
  top: 335px;
  width: 1240px;

  z-index:-1;
}