// Exemple - change the headings font-family
$headings-font-family: "Lato", serif;

$primary:       #3282F7;
$success:       #68D9A4;
$danger:        #ED6454;
$light:         #E7E7E7;
$dark:          #C7BEBE;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
);

$font-size-base: 0.75rem;
$font-size-lg: 0.75rem;
$h2-font-size:$font-size-base * 1.5;
$headings-margin-bottom: 1rem;
$headings-font-weight: 400;

.recipeTime{
  font-size: 18px;
  font-weight: 700;
}

.robotoFont{
  font-family: "Roboto", sans-serif;
}